@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/* Header Section Start*/
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #eff3ea;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo Name */
.header .logo-name {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 10%;
}

/* Navbar */
.header .navbar {
  display: flex;
  margin: 8px 10%;
}

.header .navbar .navbar-menu {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .navbar .navbar-menu a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  transition: color 0.3s ease-in;
  font-weight: 500;
}

.header .navbar .navbar-menu a:hover {
  color: blue;
}

/* Header Section End */

/* Main Section Start */
/* main */
.main-content {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  margin: 2rem 10%;
}

/* About Start */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  scroll-margin-top: 60px;
}

.main-content .about-content {
  max-width: 1200px;
}

.cat-logo img {
  width: 300px;
  height: auto;
  margin: 1rem 0;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-title {
  font-size: 1.8rem;
  color: #333;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.about-text {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.fun-facts {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fun-facts h2 {
  color: #555;
}
.fun-facts ul li {
  list-style: none;
  padding: 8px 0;
  position: relative;
}

.fun-facts ul li::before {
  content: "🐾";
  position: absolute;
  left: -45px;
}

/* About End */
/* Cat Gallery Start*/
.cat-gallery {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 60px;
  margin: 5rem 0;
  justify-content: center;
}

.gallery-title {
  color: #333;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.gallery-text {
  margin: 1rem 0 2rem 0;
}

.gallery-slider {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.gallery-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  align-items: center;
}

.slide {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 255px);
  grid-template-rows: repeat(3, 255px);
  grid-gap: 20px;
  padding: 20px;
}

.cat-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cat-image img {
  width: 100%;
  border-radius: 10px;
}

.name-container {
  /* margin-top: 0.8rem; */
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.cat-name a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
}

/* Navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  margin: 0 10%;
  box-sizing: border-box;
}

button.prev,
button.next {
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

button.prev:hover,
button.next:hover {
  background: #555;
}

.dots {
  display: flex;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
}

.dot.active {
  background: #333;
}
/* Cat Gallery End */
/* FAQ Start */
.faq {
  padding: 2rem;
  max-width: 100%;
  margin: 5rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #f9f9f9;
}

.faq-title {
  text-align: center;
  font-weight: 700;
  color: #333;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.faq-text {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1rem;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.faq-item {
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 1.5rem;
  border: 1px solid #ddd;
  transform: box-shadow 0.3s ease;
  -webkit-transform: box-shadow 0.3s ease;
  -moz-transform: box-shadow 0.3s ease;
  -ms-transform: box-shadow 0.3s ease;
  -o-transform: box-shadow 0.3s ease;
}

.faq-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.faq-item h3 {
  font-size: 1.3rem;
  color: #555;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.faq-answer {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
  display: none;
}

.faq-item.open .faq-answer {
  display: block;
}

/* FAQ End */

/* Footer Start */
.footer {
  background-color: #333;
  text-align: center;
  color: #fff;
  padding: 1.5rem 1rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-text {
  margin: 0;
  font-size: 1rem;
}

.footer-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social-icon {
  color: #fff;
}

.footer-contact {
  margin-top: 0.9rem;
  font-size: 0.9rem;
}

.footer-contact a {
  color: #fff;
  text-decoration: underline;
}

/* Footer End */
/* Main Section End */
